.card-footer .btn-link {
  text-decoration: none;
}

.card-footer .btn-link.text-primary {
  color: #007bff;
}

.card-footer .btn-link.text-warning {
  color: #ffc107;
}

.card-footer .btn-link.text-danger {
  color: #dc3545;
}
